extends layout

block content
  header
    h2=title
  section
    nav
      ul
        li
          a.active(href='') Client Information
        li
          a(href="/") Home
        li
          a(href='reqQuote') Request a Quote
        li
          a(href='quoteHist') Quote History
    each client in client_list
      ul(style='list-style-type: none') 
        li Name: #{client.full_name}
        li Address: #{client.address}, #{client.city}, #{client.state} #{client.zip_code}
        li Phone: #{client.phone}
        li Email: #{client.email}
  footer
    p Fuel Prediction