extends layout

block content
  header
    h2=title
  section
    nav
      ul
        li
          a.active(href='quoteHist') Quote History
        li
          a(href='clientInfo') Client Information
        li
          a(href='reqQuote') Request a Quote
        li
          a(href="/") Home
    table
      tbody
        tr
          th Item #
          th Request Date
          th Delivery Date
          th Gallons
          th Rate
          th Total Price
        each quote in quote_list
          th #{quote.id}
          th #{quote.requestDate}
          th #{quote.deliveryDate}
          th #{quote.gallonsRequested}
          th #{quote.rate}
          th #{quote.totalAmountDue}
        else
          th No quotes.
          th No quotes.
          th No quotes.
          th No quotes.
          th No quotes.
          th No quotes.
  footer
    p Fuel Prediction
